/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
  #display-medium-owl-demo .owl-item{
	  padding-left:10px;
    padding-right:10px;
	  padding-top:10px;
	  padding-bottom:10px;
	}
	#display-medium-owl-demo img{
	  display: block;
	  max-width: 100%;
	  height: auto;
	  max-height: 200px;
	}
	#display-medium-owl-demo .medium-image{
	  display: block;
	  max-width: 100%;
		height: 200px;
		background-size: cover;
		background-position: center;
	}
	#display-medium-owl-demo .details-title {
		border-bottom: 1px solid #212121;
	}